<div class="row">
	<div class="col-md-6 col-sm-12">
		<h2 class="text-center">Upcoming posts</h2>
	</div>
	<div class="col-md-6 col-sm-12">
		<h2 class="text-center">Already posted</h2>
	</div>
</div>