<footer>
  <div class="container">
    <p class="text-muted">Source code on <%= link_to 'Github', 'https://github.com/webspirit/social_media_poster', target: '_blank' %> - Created by <%= link_to 'Eleni Chourouzidou', 'http://www.webspirit.gr', target: '_blank' %></p>
  </div>
</footer>